.header {
  background-color: rgba(1, 1, 34, 0.849);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.9 rem;
  color: whitesmoke;
  padding: 5px;
}

.logo {
  font-size: 2rem;
  margin-right: 10px;
}

@media (max-width: 792px) {
  .header {
    flex-direction: column;
  }
}
